<div class="login-page">
    <div class="row">
        <div class="col-md-4 push-md-4">
            <h1>密码修改</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="请输入用户名">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="当前密码">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="请输入新密码">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="请确认新密码">
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]=""> 修改 </a> &nbsp;              
                <a class="btn rounded-btn" [routerLink]="['/dashboard']">返回 </a>
            </form>
        </div>
    </div>
</div>
