<div class="login-page">
    <div class="row">
        <div class="col-md-4 push-md-4">
           
            <h1>研发管理门户</h1>
            <form name="form" >
                <div class="form-content">
                    <div class="form-group" >
                        <input type="text"  name="name" class="form-control input-underline input-lg"  placeholder="账号"  #name required />
                         
                    </div>

                    <div class="form-group">
                        <input type="password" name="password" class="form-control input-underline input-lg"  placeholder="密码"  #password  required/>
                    </div>
                    <input type="checkbox">下次自动登录
                </div>
                
                <a class="btn rounded-btn"  (click)="onLoggedin(name.value,password.value)"> 登录 </a>
                &nbsp;
                 <a class="btn rounded-btn" [routerLink]="['/resetpassword']">密码重置</a>
            </form>
        </div>
    </div>
</div>
